:root{
    --color-plural:#2196F3;
    --color-body: #212121;
    --color-team:#757575;
}

body{
    
    font-family: 'Roboto', sans-serif;
    color: var(--color-body);
}

***/* index */***
.logo{
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
}


.web-links .nav-item-active:focus , 
.web-links .link:hover,
.link-info:hover,
.button-service:hover,
.info:hover,
/* portafolio buttons */
.list-button .bottom-primary:focus,
.list-button,.buttons:hover{ 
    color:var(--color-plural)
}


.web-links,.link{
    color: var(--color-body);
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
}

.link-info{
    color: #757575;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
}


.tittle{
    font-size: 44px;
    line-height: 1.5;
    font-weight: 900;
}

.button-service{
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
}

.subtittle-advantages > li{
    font-size: 14px;
    line-height: 1.7
}
.details{
    font-weight: 700;
}


.subtitle-profession{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}

.subtitle-team{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}

.name{
    font-weight: 500;
}

.occupation{
    color: var(--color-team);
    
}

.info{
    color: #ffffff;
    line-height: 1.7;
}

***/* portafolio */***

.link-head {
    color: var(--color-body);
}

.list-button,.buttons:hover{
    cursor: pointer;
    font-weight: 500;
    line-height: 1.6;
}

.photos{
    width:370px;
    height:404px;
}

.articles{
    font-weight: 700;
    line-height: 2;
}
.reference{
    color: var(--color-team);
    line-height: 2;
}

.list-button .bottom-primary:active{
    color: #FFFFFF;
    
}