h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root{
    --color-advantages: #757575;
    --color-plural:#2196F3;
    --color-body: #212121;
    --color-team:#757575;
    --color-background: #2F303A;
    --color-buttons:#F5F4FA;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--color-body);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

**/*************** header *****************/
header {
    display: flex;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: center;
    letter-spacing: 0.02em;
    font-weight: 500;
    border-bottom: 1px solid #ECECEC;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-bar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:94px ;
    color: var(--color-plural);
    font-size: 26px;
    font-family: 'Raleway';
}
.nav-menu>li {
    margin: 36px;
}

.nav-menu .link:focus,
.nav-menu .link:hover,
.nav-menu .nav-item-active{
    color: var(--color-plural);
} 

/************contactos ***************/
.link-info {
    color: #757575;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
}
.info:hover,
.link-info:hover,
.link-info:focus{
    color: var(--color-plural);
}
.contact-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.contact-menu>li {
    margin: 32px;
}

/************ seccion tittle ***********/

.hero-tittle{
    background-color: var(--color-background);
    padding: 200px;
    text-align: center;
    
}
.tittle{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    color: white;
    width: 696px;
    margin: 20px auto;
    font-weight: 900;
}

/* boton service */

.button-service:hover {
    cursor: pointer;
    color: var(--color-plural);
}
.button-service {
    background: #2196F3;
    color: #FFFFFF;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

/********* seccion advantages *********/
.subtittle-advantages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.subtittle-advantages>li {
    font-size: 14px;
    line-height: 1.7;
    padding: 30px;
}

p {
    color: var(--color-advantages);
    line-height: 1.8;
    font-size: 14px;
}

.details {
    margin-bottom: 10px;
    color: var(--color-body);
    font-weight: 700;
}



/****** seccion a que nos dedicamos ******/
.subtitle-profession {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.list-tecnic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    width: 373px;
    height: 323px;
}


.image {
    width: 373px;
    height: 323px;
}

/********* seccion equipo **********/
.subtitle-team{
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0;
    text-align: center;
    letter-spacing: 0.03em;
}
.image-team {
    width: 270px;
    height: 260;
    
}
.name {
    font-weight: 700;
}
.occupation {
    color: var(--color-team);
}

.list-occupation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.list-occupation li {
    text-align: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #eeeeee;
    cursor: pointer;
    margin: 0 37px;
}

.list-occupation li h4 {
    margin: 20px 0 10px 0;
}

.list-occupation li p {
    margin-bottom: 30px;
}
/********** footer info **********+*/
.info{
    color: #ffffff;
    line-height: 1.7;
}

footer address .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 2.2;
    color: var(--color-plural);
}
.footer-padding{
    padding: 50px 35px;
}
.footer-background {
    height: 270px;
    background: var(--color-background);
}


*******/* portafolio */******


/* botones */

.button-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.list-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    }

.list-button li button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    padding: 8px 20px ;
}

.list-button .buttons:hover,
.list-button .buttons:focus,
.list-button .filter-current{
    background-color: var(--color-plural);
    color: var(--color-buttons);

}

/***** seccion cards*****/
.photos {
    width: 370px;
}

.articles {
    font-weight: 700;
    line-height: 2;
}

.reference {
    color: var(--color-team);
    line-height: 2;
}

.portfolio .item:hover{
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards{
    margin-top: 0;
}
.portfolio{
    margin-bottom: 94px;
}
.portfolio .cards li h4{
    color:var(--color-body);
    padding: 15px;
}
.portfolio .cards li p{
    color: var(--color-team);
    padding: 15px;
}
.portfolio .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 15px;
}
