h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-body);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}
@media screen and (max-width: 1200px) {
  .section {
    padding: 45px 0;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 480px;
  }
}

/******* HEADER ********/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
@media screen and (max-width: 1200px) {
  .header {
    width: 768px;
    display: flex;
    justify-content: space-evenly;
    gap: 43px;
    margin: 14px 0;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 480px;
    justify-content: space-between;
    padding-right: 15px;
  }
}

.header__border__gray {
  border: 1px solid #ECECEC;
}

/** NAVIGATION**/
.navegation {
  width: 30%;
}
@media screen and (max-width: 1200px) {
  .navegation {
    width: 400px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .navegation {
    display: none;
  }
}

.navegation__list {
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  gap: 45px;
}
.navegation__list .navegation--active {
  position: relative;
  color: #2196f3;
}
.navegation__list .navegation--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -32px;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.navegation__list .navegation__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var cubic-bezier(0.4, 0, 0.2, 1);
}
.navegation__list .navegation__link:hover, .navegation__list .navegation__link:focus {
  color: #2196f3;
}

/** CONTACT **/
.contact {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .contact {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .contact__item {
    padding-top: 10px;
    padding-left: 40px;
  }
}
.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__icon {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: #2196f3;
}

/** MENU TOGGLE **/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle:hover > svg,
.menu-toggle:focus > svg {
  fill: #2196f3;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .navegation--active {
  color: #2196f3;
}

.mobile-menu .navegation__link {
  font-size: 40px;
  font-weight: 500;
  display: block;
  padding: 10px 0;
}

.mobile-contact__item {
  padding: 10px 0;
}

.mobile-contact__link {
  font-size: 23px;
  color: #757575;
  font-weight: 500;
}

.mobile-contact__link--active {
  font-weight: 500;
  font-size: 34px;
}

.mobile-contact__link:hover,
.mobile-contact__link:focus,
.mobile-contact__link--active {
  color: #2196f3;
}

.mobile-social {
  display: flex;
  gap: 10px;
}

.mobile-social__link {
  font-size: 18px;
  color: #2196f3;
}

.mobile-social__item {
  font-weight: 500;
}

.logo {
  width: 20%;
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway";
}
@media screen and (max-width: 1200px) {
  .logo {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 45%;
  }
}

.header-logo__left {
  padding-left: 20px;
}

/******* HERO ********/
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/student.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  text-align: center;
}

.hero__container {
  width: 676px;
  height: auto;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  color: white;
}

.button-service {
  padding: 15px 25px;
  margin-top: 20px;
  font-size: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-service:hover {
  background-color: #2196f3;
}

@media screen and (max-width: 1200px) {
  .hero {
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 130px;
  }
  .hero__title {
    font-size: 26px;
  }
  .hero__container {
    width: 360px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 60px;
  }
  .hero__title {
    font-size: 26px;
  }
  .hero__container {
    width: 360px;
    height: auto;
  }
}
.btn-primary {
  background-color: #278bdd;
  color: #ffffff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/******* MODAL ********/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.modal {
  position: absolute;
  width: 528px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms ease-in;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 40px;
  text-align: start;
}
@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  cursor: pointer;
}

.modal__iconX {
  transform: translate(-6%, 15%);
}

.modal__data {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(-100%);
}

/** FORMULARIO**/
.form {
  margin-top: 12px;
}

.form__input {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 3px;
  padding-left: 40px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border: 1px solid #2196f3;
}

.form__container {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 12px;
  left: 12px;
  pointer-events: none;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 5px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover, .form__textarea:focus {
  border: 1px solid #2196f3;
}

.form__text {
  margin-left: 10px;
  line-height: 1.4;
  color: #757575;
}

.button-form {
  padding: 10px 75px;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  margin: 15px auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form:hover {
  background-color: #2196f3;
}

.form__label {
  display: flex;
  margin-top: 15px;
  padding-left: 12px;
}

.form__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form__check {
  border: 2px solid black;
  margin-top: 3px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .form__check {
    width: 19px;
  }
}

.form__checkbox:checked + .form__check {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

/*** seccion advantages ***/
.advantages__list {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-top: 30px;
}

.advantages__item {
  width: 270px;
  height: auto;
}

.advantages__description {
  color: #757575;
  line-height: 1.8;
  font-size: 14px;
}

.advantages__details {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
}

/****** seccion iconos-advantages *******/
.advantages__container {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 35px 105px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .advantages__list {
    flex-wrap: wrap;
    width: 768px;
  }
  .advantages__container {
    width: 354px;
    height: auto;
  }
  .advantages__icon {
    display: block;
    margin: 0 auto;
  }
  .advantages__item {
    width: 354px;
    height: 251px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__list {
    width: 480px;
  }
  .advantages__item {
    width: 450px;
    height: auto;
  }
  .advantages__container {
    width: 450px;
    height: auto;
  }
}
/****** DEDICATE ******/
.dedicate__subtitle {
  text-align: center;
  margin-bottom: 55px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.dedicate__list {
  display: flex;
  justify-content: center;
  gap: 33px;
}

.dedicate__item {
  position: relative;
}

.dedicate__description {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  width: 373px;
  height: 70px;
  padding: 23px 79px;
  bottom: 0px;
}

@media screen and (max-width: 1200px) {
  .dedicate {
    display: none;
  }
}
/********* TEAM **********/
.team {
  background-color: #f5f4fa;
}

.team__subtitle {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__image {
  width: 270px;
  height: auto;
}

.team__name {
  margin: 20px 0 10px 0;
  font-weight: 700;
}

.team__occupation {
  margin-bottom: 30px;
  color: #757575;
}

.team__container {
  display: flex;
  justify-content: center;
  gap: 33px;
}

.team__card {
  text-align: center;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/****** seccion iconos-redes *********/
.team__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 8px;
}

.team__item {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item:hover {
  background-color: #2196f3;
}

.team__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item:hover .team__icon {
  fill: #ffffff;
}

@media screen and (max-width: 1200px) {
  .team__container {
    flex-wrap: wrap;
    width: 768px;
  }
  .team__card {
    width: 354px;
  }
  .team__image {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .team__container {
    width: 480px;
  }
  .team__card {
    width: 450px;
    height: 622px;
  }
}
/******** CUSTOMER *********/
.customer__list {
  display: flex;
  justify-content: center;
  gap: 33px;
}

.customer__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 81px;
  padding: 14px 32px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__item:hover {
  border-color: #2196f3;
  cursor: pointer;
}

.customer__icon {
  fill: #afb1b8;
}
.customer__item:hover .customer__icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__subtitle {
  font-size: 36px;
  font-weight: 700;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1200px) {
  .customer__list {
    flex-wrap: wrap;
    width: 768px;
  }
  .customer__item {
    width: 226px;
  }
  .customer__icon {
    display: block;
    margin: 0 auto;
  }
  .customer__subtitle {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .customer__list {
    width: 480px;
    height: auto;
  }
  .customer__item {
    width: 210px;
    height: auto;
  }
}
/******* FOOTER ********/
.footer--padding {
  display: flex;
  justify-content: space-between;
  padding: 50px 22px;
}

.footer__container {
  margin-top: 15px;
}

.footer__list {
  margin-top: 10px;
}

.footer--background {
  background-color: #2f303a;
  height: 270px;
}

.footer__info {
  color: #ffffff;
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info:hover {
  color: #2196f3;
}

.footer__link {
  color: #757575;
  font-weight: 500;
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  color: #2196f3;
}

.social__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social__subtittle {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 25px;
}

/******* seccion footer-icon *******/
.social__item {
  padding: 12px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover {
  background-color: #2196f3;
}

.social__icon {
  fill: #ffffff;
}

/************* footer suscribase al boletin ********************+*/
.subscribe {
  margin-top: 25px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 101px 15px 16px;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  margin-left: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:hover {
  background-color: #2196f3;
}

.subscribe__container {
  display: flex;
  margin-top: 15px;
}

.subscribe__icon {
  fill: #ffffff;
}

@media screen and (max-width: 1200px) {
  .footer--background {
    height: auto;
    width: 100%;
  }
  .footer--padding {
    flex-wrap: wrap;
    width: 768px;
  }
  .subscribe {
    margin: 50px auto;
  }
  .footer__container {
    text-align: center;
    margin-left: 50px;
  }
  .subscribe__container {
    display: block;
  }
  .subscribe__input {
    width: 450px;
  }
  .social {
    margin-right: 50px;
  }
  .subscribe__btn {
    margin: 20px auto;
  }
  .subscribe__title {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .footer--padding {
    width: 480px;
    justify-content: center;
  }
  .footer__container {
    width: 100%;
    margin: 0;
  }
  .social {
    width: 100%;
    margin: 0;
  }
  .social__subtittle {
    display: flex;
    justify-content: center;
  }
  .social__list {
    justify-content: center;
  }
  .subscribe__title {
    display: flex;
    justify-content: center;
  }
}
/********* BUTTONS PORTAFOLIO **********/
.btn {
  display: flex;
  justify-content: center;
  margin: 100px 0 56px;
}

.btn__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.btn__list .btn__buttons--current {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .btn__list {
    width: 362px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .btn {
    justify-content: flex-start;
    padding-left: 15px;
  }
}
.btn__buttons {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  padding: 8px 20px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__buttons:hover, .btn__buttons:focus {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/********* CARDS PORTAFOLIO **********/
.portafolio {
  margin-bottom: 94px;
}

.portafolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
}

.portafolio__card {
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portafolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .portafolio__card {
    width: 354px;
    height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .portafolio__card {
    width: 450px;
    height: auto;
  }
}
.portafolio__container {
  position: relative;
  overflow: hidden;
}

.portafolio__photos {
  width: 370px;
  height: 294px;
}

@media screen and (max-width: 768px) {
  .portafolio__photos {
    width: 450px;
    height: 404px;
  }
}
.portafolio__animation {
  position: absolute;
  top: 0;
  height: 294px;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portafolio__card:hover .portafolio__animation {
  transform: translateY(0%);
}

@media screen and (max-width: 768px) {
  .portafolio__animation {
    width: 450px;
    height: 404px;
  }
}
.portafolio__articles {
  color: #212121;
  padding: 20px 15px 1px 15px;
  font-weight: 700;
  line-height: 2;
}

.portafolio__reference {
  color: #757575;
  line-height: 2;
  padding: 4px 15px;
  margin-bottom: 15px;
}/*# sourceMappingURL=main.css.map */