.btn-primary {
    background-color: #278bdd;
    color: #ffffff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}