/******** CUSTOMER *********/

.customer__list {
    display: flex;
    justify-content: center;
    gap: 33px;
}

.customer__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 14px 32px;
    transition-property: border-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;
    
    &:hover {
    border-color: $color-plural;
    cursor: pointer;
}
}

.customer__icon {
    fill: $color-icon;

    .customer__item:hover & {
    fill: $color-plural;
    transition-property: fill;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;
}
}

.customer__subtitle {
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0;
    text-align: center;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
    .customer{
        width: 767px;
    }
    .customer__list {
        flex-wrap: wrap;
        width: 767px;
        height: auto;
    }

    .customer__item {
        width: 210px;
        height: auto;
    }

    .customer__icon {
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    .customer__list {
        flex-wrap: wrap;
        width: 480px;
        height: auto;
    }

    .customer {
        width: 480px;
    }
    .customer__list {
        flex-wrap: wrap;
        width: 480px;
        height: auto;
    }
}



@media screen and (min-width: 768px) {
    .customer__list{
        flex-wrap: wrap;
        width: 768px;
    }
    .customer__item{
        width: 226px;
    }
    .customer__icon{
        display: block;
        margin: 0 auto;
    }
    .customer__subtitle{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){
    .customer__list{
        width: 1200px;
    }
    .customer__item{
        width: 170px;
        height: 81px;
    }
}
