/******* HEADER ********/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.header__border__gray {
    border: 1px solid #ECECEC;
}
/** NAVIGATION**/
.navegation {
    width: 30%;
}

.navegation__list {
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    gap: 45px;

    .navegation--active{
    position: relative;
    color: $color-plural;
    }
    
    .navegation--active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    height: 4px;
    width: 100%;
    background-color: $color-plural;
    border-radius: 2px;
}
}

.navegation__list .navegation__link {
    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: var $timing-function;

    &:hover,
    &:focus{
        color: $color-plural;
    }

}


/** CONTACT **/


.contact {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.contact__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-team;
    font-size: 14px;
    font-weight: 500;
    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus{
            color: $color-plural;
        }
}

.contact__icon {
    fill: $color-advantages;
    transition-property: fill;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;
    
    .contact__link:hover &,
    .contact__link:focus & {
        fill: $color-plural;
    }
}
/** MENU TOGGLE **/
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle:hover > svg,
.menu-toggle:focus > svg {
    fill: $color-plural;
}
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $color-body;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu .navegation--active {
    color: $color-plural;
}
.mobile-menu .navegation__link {
    font-size: 40px;
    font-weight: 500;
    display: block;
    padding: 10px 0;
}
.mobile-contact__item{
    padding: 10px 0;
}
.mobile-contact__link{
    font-size: 23px;
    color: $color-advantages;
    font-weight: 500;
}
.mobile-contact__link--active{
    font-weight: 500;
    font-size: 34px;
}
.mobile-contact__link:hover,
.mobile-contact__link:focus,
.mobile-contact__link--active{
    color: $color-plural;
}

.mobile-social{
    display: flex;
    gap: 10px;
}
.mobile-social__link{
    font-size: 18px;
    color: $color-plural;
}
.mobile-social__item{
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .header {
        width: 767px;
        justify-content: space-between;
    }

    .navegation {
        display: none;
    }

    .contact {
        display: none;
    }

    .menu-container{
        width: 100%;
        height: 100vh;
    }
    .header__border__gray {
        width: 767px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        width: 480px;
    }

    .header__border__gray {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .header{
        width: 768px;
        gap: 30px;
        margin: 14px 0;
    }

    .navegation{
        display: inline-block;
        width: 35%;
    }
    .navegation__list{
        gap: 30px;
        
    }
    
    .contact{
        display: block;
        width: 25%;
    }

    .contact__link{
        padding-top: 10px;
    }
    .menu-toggle{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
            
            .header {
                    width: 1200px;
                    margin: 25px 0;
                }
            
                .contact {
                    display: flex;
                    width: 30%;
                }
                .contact__link{
                    padding: 0;
                }
        }