.logo {
    width: 20%;
    color: $color-plural;
    font-size: 26px;
    font-family: 'Raleway';

    @media screen and (min-width: 480px) {
        width: 50%;
}

@media screen and (min-width: 768px) {
        width: 25%;
}
@media screen and (min-width: 1200px) {
    width: 20%;
}

}
.header-logo__left{
    @media screen and (min-width: 480px) {
        padding-left: 10px;
}
@media screen and (min-width: 1200px) {
        padding-left: 25px;
}

}





