/******* HERO ********/
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('./../img/hero/desktop/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px;
        text-align: center;
    }

@media screen and (min-width: 480px) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url('./../img/hero/mobil/hero.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                padding: 100px 0;
                background-position: center;
                text-align: center;
    
    
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(./../img/hero/mobil/hero@2x.jpg);
                }
            }
}

        @media screen and (min-width: 768px) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url('./../img/hero/tablet/hero.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                padding: 145px;
                text-align: center;
    
    
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(./../img/hero/tablet/hero@2x.jpg);
                }
            }
        }

        @media screen and (min-width: 1200px) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url('./../img/hero/desktop/hero.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                padding: 200px;
                text-align: center;


                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(./../img/hero/desktop/hero@2x.jpg);
                }

            }
        }

.hero__container {
    width: 676px;
    height: auto;
    margin: 0 auto;
}
.hero__title {
    font-weight: 900;
    color: white;
}

.button-service {
    margin-top: 20px;
    font-size: 16px;
    transition-property: background-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover{
            background-color: $color-plural;
        }
}

@media screen and (min-width: 480px){
    .hero__title {
            font-size: 26px;
        }
    
        .hero__container {
            width: 360px;
            height: auto;
        }
        .button-service{
            font-size: 14px;
            padding: 15px 15px;
        }
}

@media screen and (min-width: 768px){
    .hero__title {
        font-size: 28px;
        line-height: 1.4;
        width: 360px;
        height: auto;    
    }
}

@media screen and (min-width: 1200px) {
    .hero__title{
        font-size: 44px;
        width: 696px;
        text-align: center;
    }
    .hero__container{
        width: 696px;
        height: auto;
    }
    .button-service{
        padding: 15px 25px;
        font-size: 14px
    }
}
