/******* FOOTER ********/

.footer--padding {
    display: flex;
    justify-content: space-between;
    padding: 50px 22px;
}

.footer__container {
    margin-top: 15px;
}

.footer__list {
    margin-top: 10px;
}

.footer--background {
    background-color: $color-footer; 
    height: 270px;
}

.footer__info {
    color: #ffffff;
    line-height: 1.7;
    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover{
        color: $color-plural;
    }
}

.footer__link {
    color: $color-advantages;
    font-weight: 500;
    line-height: 1.7;
    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover{
        color: $color-plural;
    }
}

.social__list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social__subtittle {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 25px;
}

/******* seccion footer-icon *******/
.social__item {
    padding: 12px;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover{
        background-color: $color-plural;
    }
}

.social__icon {
    fill: #ffffff;
}

/************* footer suscribase al boletin ********************+*/
.subscribe {
    margin-top: 25px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 101px 15px 16px;
    background: #2f303a;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.subscribe__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    margin-left: 12px;
    transition-property: background-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover {
    background-color: $color-plural;
}
}

.subscribe__container {
    display: flex;
    margin-top: 15px;
}

.subscribe__icon {
    fill: #ffffff;
}
@media screen and (max-width: 1200px) {
    .footer--background{
        height: auto;
        width: 100%;
    }
    .footer--padding{
        flex-wrap: wrap;
        width: 768px;
    }
    .subscribe{
        margin: 50px auto;
    }
    .footer__container{
        text-align: center;
        margin-left: 50px;
    }
    .subscribe__container{
        display: block;
    }
    .subscribe__input{
        width: 450px;
    }
    .social{
        margin-right:50px
    }
    .subscribe__btn{
        margin: 20px auto;
    }
    .subscribe__title{
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width:768px) {
        .footer--padding {
            width: 480px;
            justify-content: center;
        }
        
        .footer__container{
            width: 100%;
            margin: 0;
        }
        .social{
            width: 100%;
            margin: 0;
        }
        .social__subtittle{
            display: flex;
            justify-content: center;
        }
        .social__list{
            justify-content: center;
        }
        .subscribe__title{
            display: flex;
            justify-content: center;
        }
}