
    $color-icon: #afb1b8;
    $color-advantages: #757575;
    $color-plural: #2196f3;
    $color-body: #212121;
    $color-team: #757575;
    $color-footer: #2f303a;
    $color-buttons: #f5f4fa;
    $transition-time: 250ms;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    